header {
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 11vh;
}

header a {
    color: var(--tea);
    text-decoration: none;
}

header h1 {
    margin-bottom: 0px;
}

/* //////////////////////////////////// */
/* Main Layout for Tablet */
/* //////////////////////////////////// */
@media only screen and (max-width:768px) {

}

/* //////////////////////////////////// */
/* Main Layout for Mobile */
/* //////////////////////////////////// */
@media only screen and (max-width:736px) {

}