/* About section hover class for js */
.hover {
    width: 3vw;
    opacity: 0;
}

/* the panels */
section {
    width: 3vw;
    transition: width .5s;
}

section:hover {
    width:85%;
    transition: width .5s;
}

/* The content inside of the panel */
section > article {
    opacity: 0; 
    transition: opacity .5s ease 0s;
}
section:hover > article {
    opacity: 1; 
    transition: opacity .5s ease .5s;
}
section:hover > .label {
    opacity: 0; 
    transition: opacity .25s ease .25s;
}