/* Holds all of the panels */
main {
    position: absolute;
    top: 11vh;
    right: 0px;
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

/* The panels */
section {
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}

/* The content inside of the panels */
article {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
}

/* //////////////////////////////////// */
/* Hover Interaction */
/* //////////////////////////////////// */

/* Holds all of the panels */
main:hover {
    width:100vw;
}

/* the panels */
section {
    width: 3vw;
    transition: width 1s;
}

section:hover {
    width:85vw;
    transition: ease 1s;
}

/* The content inside of the panel */
section > article {
    opacity: 0; 
    transition: opacity 1s ease 0s;
}

section:hover > article {
    opacity: 1; 
    transition: opacity 1s ease .5s;}

/* //////////////////////////////////// */
/* Project Content */
/* //////////////////////////////////// */

/* Text label for each project */
.label {
    align-items: center;
    justify-content: flex-start;
    font-family: "Megrim";
    font-weight: bold;
    font-size: 14pt;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    float: left;
    width: 400px;
    position: absolute;
}

.project-img {
    align-items: flex-start;
    justify-content: center;
}
.project-img img {
    width: 600px;
}

.project-copy {
    flex-direction: column;
    margin-left: 20px;

}

.project-copy p {
    width: 400px;
}

.project-copy a,
.project-copy a:visited,
.project-copy a:active,
 {
    text-decoration: none;
    color: var(--purple);
    font-weight: bold;
}

/* //////////////////////////////////// */
/* Colors */
/* //////////////////////////////////// */

/* Dark Panels */
#about {
    background-color: var(--darkpurple);
}
#project-1 {
    background-color: var(--purple);
}
#project-2 {
    background-color: var(--lavender);
}

#about, #project-1, #project-2 {
    color: var(--tea);
}

#project-1 p, #project-2 p {
    color: var(--tea);
}

/* Light Panels */

#project-3 {
    background-color: var(--teal);
}
#project-4 {
    background-color: var(--moss);
}
#project-5 {
    background-color: var(--tea);
}

#project-3, #project-4, #project-5 {
    color: var(--darkpurple);
}

#project-3 p, #project-4 p, #project-5 p {
    color: var(--darkpurple);
}

/* //////////////////////////////////// */
/* Buttons */
/* //////////////////////////////////// */

.panel-btn {
    cursor: pointer;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    text-transform: uppercase;
    margin: 0px 10px 40px 0px;
    text-decoration: none;
}

.purple-panel {
    background: transparent;
    border: 2px solid var(--tea);
    color: var(--tea);
}

.purple-panel:hover {
    background: var(--tea);
    color: var(--purple);
}

.lavender-panel {
    background: transparent;
    border: 2px solid var(--tea);
    color: var(--tea);
}

.lavender-panel:hover {
    background: var(--tea);
    color: var(--lavender);
}

.teal-panel {
    background: transparent;
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.teal-panel:hover {
    background: var(--darkpurple);
    color: var(--teal);
}

.moss-panel {
    background: transparent;
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.moss-panel:hover {
    background: var(--darkpurple);
    color: var(--moss);
}

.tea-panel {
    background: transparent;
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.tea-panel:hover {
    background: var(--darkpurple);
    color: var(--tea);
}